.header {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  gap: 30px;

  max-width: 1048px;
  padding: 24px;
  margin: 0 auto;
}

.logo {
  display: block;

  flex-shrink: 0;

  width: 231px;
  height: 61px;
  margin-right: auto;

  img {
    width: 100%;
  }
}
