.swiper-primary {
  position: relative;
  padding: 40px 73px;

  .swiper-button-next,
  .swiper-button-prev {
    color: #56bcb7;
  }

  .swiper-button-disabled {
    color: #cbd0d0;
  }

  .swiper-button-prev {
    left: 20px;
  }

  .swiper-button-next {
    right: 20px;
  }

  .swiper-pagination {
    bottom: -80px;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;

    background: #853e81;
  }
}
