.welcome {
  position: relative;

  padding: 180px 24px 160px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: $color-default-black;

  &__wrapper {
    max-width: 1048px;
    margin: 0 auto;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: -1;

    img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    max-width: 382px;
  }

  &__title {
    // margin-bottom: 24px;

    font-weight: 600;
    font-size: 75px;
    line-height: 88px;
  }

  &__desc {
    // margin-bottom: 24px;
  }
}

.categories {
  max-width: 1048px;
  padding: 68px 24px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: $color-default-black;

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 27px;
  }

  &__item {
    flex-grow: 1;
  }
}

.advantages {
  background: $color-bg-secondary;

  &__wrapper {
    max-width: 1048px;
    padding: 84px 48px 64px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 74px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: $color-default-black;
  }

  &__item-title {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }

  &__img {
    margin-bottom: 48px;

    &--cleansing {
      width: 122px;
      height: 144px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.articles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  max-width: 1048px;
  padding: 78px 24px 84px;
  margin: 0 auto;
}

.blog-list {
  position: relative;
  max-width: 1048px;
  padding: 78px 24px;
  margin: 0 auto;

  .swiper-pagination {
    bottom: -25px;
  }

  .swiper-slide {
    height: auto;
  }
}

.subscribe {
  background: $color-bg-primary;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: $color-default-white;

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;

    max-width: 675px;
    padding: 78px 24px 54px;
    margin: 0 auto;
  }

  form {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #56bcb7;

    input {
      width: 100%;
      max-width: 385px;
      padding: 10px 30px;

      background: $color-default-white;
      border-radius: 15px;

      text-align: left;
    }
  }
}

.bestsellers {
  position: relative;
  background: $color-bg-secondary;

  .swiper-slide {
    height: auto;
  }

  &__wrapper {
    max-width: 1048px;
    padding: 78px 24px 124px;
    margin: 0 auto;
  }
}
