.heading-primary {
  font-weight: 600;
  font-size: 75px;
  line-height: 88px;
}

.heading-secondary {
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}

.heading-tertiary {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
